.civ-pool-element {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-civ-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.player1-civ-grid {
    direction: rtl;
}

.player2-civ-grid {
    direction: ltr;
}
